<html>
<head>

<%= javascript_include_tag 'nyan-app', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'nyan-app', media: 'all', 'data-turbolinks-track' => true %>

</head>

<body>
  <div id="phaser-nyan"></div>
</body>

</html>