.result_back img {
  width:100%;
  margin-bottom:18%;
}

.restart_button {
  width:100%;
  margin: 0 auto;
  text-align:center;
  margin:0 auto;
  padding:0 auto;
}
.restart_button img {
  width:40%;
}
